<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                {{_("date")}}
                {{macros.sort_th_a('created_at')}}
            </th>
            <th>
                {{_("identity")}}
                {{macros.sort_th_a('id')}}
            </th>
            <th>
                {{_("question")}}
                {{macros.sort_th_a('question')}}
            </th>
        </thead>
        <tbody>
            {% for mos in mos_list %}
                <tr>
                    <td>{{mos.created_at | datetime(format='low')}}</td>
                    <td><a href={{mos.url}}>{{mos.printable_id}}</a></td>
                    <td>{{mos.question|default("-", true)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>